
.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.payment-card {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.payment-header h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.payment-body {
  margin-top: 20px;
}

.qr-code {
  width: 200px;
  margin: 20px 0;
}

.warning-text {
  color: red;
  font-size: 14px;
}

.payment-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.pay-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pay-btn.google {
  background-color: #4285f4;
  color: white;
}

.pay-btn.phonepe {
  background-color: #5d57d6;
  color: white;
}

.pay-btn.paytm {
  background-color: #00baf2;
  color: white;
}

.pay-btn:hover {
  opacity: 0.8;
}



.payment-modal-container {
  position: relative;
}

.primary-btn {
  background-color: #2C6DB5;
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primary-btn:hover {
  background-color: #4d8cd4;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-dialog {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  padding: 20px;
}

.animated-zoom {
  animation: zoomIn 0.3s ease-out;
}

@keyframes zoomIn {
  from {
      transform: scale(0.5);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

.icon-wrapper {
  font-size: 2.5rem;
  color: #18773c;
  margin-bottom: 15px;
}

.success-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2C6DB5;
  margin-top: 0.5rem;
}

.modal-message {
  font-size: 1rem;
  color: #333;
  margin: 15px 0;
}

.close-btn {
  background-color: #2C6DB5;
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-btn:hover {
  background-color: #4d8cd4;
}
